#0015 ['test_how', 'test_what', 'test_where', 'test_who', 'test_why']
#0021 ['test_no_question']
#0012 ['test_exclude_number']
#0020 ['test_already_answered']
#0010 ['test_commas']
#0017 ['test_no_question']
#0016 ['test_already_answered']
#0006 ['test_integer']
#0007 ['test_how', 'test_what', 'test_where', 'test_who', 'test_why']
#0004 ['test_get_4sided_chara_all_int', 'test_get_4sided_charab_all_int', 'test_get_4sided_charb_all_int', 'test_get_4sided_charbc_all_int', 'test_get_4sided_charc_all_int', 'test_get_4sided_charcd_all_int', 'test_get_4sided_chard_all_int', 'test_get_4sided_charda_all_int', 'test_get_4sided_invalida0_all_int', 'test_get_4sided_invalida_all_int', 'test_get_4sided_invalidab0_all_int', 'test_get_4sided_invalidab_all_int', 'test_get_4sided_invalidb0_all_int', 'test_get_4sided_invalidb_all_int', 'test_get_4sided_invalidbc0_all_int', 'test_get_4sided_invalidbc_all_int', 'test_get_4sided_invalidc0_all_int', 'test_get_4sided_invalidc_all_int', 'test_get_4sided_invalidcd0_all_int', 'test_get_4sided_invalidcd_all_int', 'test_get_4sided_invalidd0_all_int', 'test_get_4sided_invalidd_all_int', 'test_get_4sided_invalidda0_all_int', 'test_get_4sided_invalidda_all_int']
#0005 ['test_get_4sided_chara_all_int', 'test_get_4sided_charab_all_int', 'test_get_4sided_charb_all_int', 'test_get_4sided_charbc_all_int', 'test_get_4sided_charc_all_int', 'test_get_4sided_charcd_all_int', 'test_get_4sided_chard_all_int', 'test_get_4sided_charda_all_int', 'test_get_4sided_invalida0_all_int', 'test_get_4sided_invalida_all_int', 'test_get_4sided_invalidab0_all_int', 'test_get_4sided_invalidab_all_int', 'test_get_4sided_invalidb0_all_int', 'test_get_4sided_invalidb_all_int', 'test_get_4sided_invalidbc0_all_int', 'test_get_4sided_invalidbc_all_int', 'test_get_4sided_invalidc0_all_int', 'test_get_4sided_invalidc_all_int', 'test_get_4sided_invalidcd0_all_int', 'test_get_4sided_invalidcd_all_int', 'test_get_4sided_invalidd0_all_int', 'test_get_4sided_invalidd_all_int', 'test_get_4sided_invalidda0_all_int', 'test_get_4sided_invalidda_all_int']
#0002 ['test_get_triangle_chara_all_int', 'test_get_triangle_charb_all_int', 'test_get_triangle_charc_all_int', 'test_get_triangle_invalid_all_int', 'test_get_triangle_invalida0_all_int', 'test_get_triangle_invalida_all_int', 'test_get_triangle_invalidb0_all_int', 'test_get_triangle_invalidb_all_int', 'test_get_triangle_invalidc0_all_int', 'test_get_triangle_invalidc_all_int']
#0003 ['test_get_4sided_dictionary_int', 'test_get_4sided_disconnect_all_int', 'test_get_4sided_list_int', 'test_get_4sided_rectangle_all_int', 'test_get_4sided_rhombus_all_int', 'test_get_4sided_square_all_int', 'test_get_rectangle_dictionary_int', 'test_get_rectangle_list_int', 'test_get_rectangle_rectangle_all_int', 'test_get_rectangle_square_all_int']
#0013 ['test_valid_match']
#0001 ['test_get_triangle_dictionary_all_int', 'test_get_triangle_equilateral_all_int', 'test_get_triangle_isosceles_all_int', 'test_get_triangle_list_all_int', 'test_get_triangle_scalene_all_int']
#0011 ['test_80_correct', 'test_90_correct']
#0014 ['test_how', 'test_what', 'test_where', 'test_who', 'test_why']
#0019 ['test_how', 'test_what', 'test_where', 'test_who', 'test_why']
#0018 ['test_already_answered']
#0008 ['test_integer']
#0009 ['test_integer', 'test_questionmark']
